<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="zoo_manager.Properties.Settings.contentDBConnectionString"
            connectionString="Data Source=DESKTOP-GLR8LAS;Initial Catalog=contentDB;Persist Security Info=True;User ID=sa;Password=Eha010814b"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>